
set_io clk                  21		# Vic20 1,108,404 Hz clock

set_io bReset_n             23     # Reset VIA Active Low
set_io bCS                  24     # Chip Select Active Hi
set_io bCS_n                25     # Chip Select Active Low
set_io bRead                26

set_io nRS[0]               31     # 4 Bit Register Address
set_io nRS[1]               32
set_io nRS[2]               33
set_io nRS[3]               34

set_io nData[0]             1      # 8 Bit Data Bus
set_io nData[1]             2
set_io nData[2]             3
set_io nData[3]             4
set_io nData[4]             7
set_io nData[5]             8
set_io nData[6]             9
set_io nData[7]             10
