set_io nData[0]             1       # 8 Bit Data Bus
set_io nData[1]             2
set_io nData[2]             3
set_io nData[3]             4
set_io nData[4]             7
set_io nData[5]             8
set_io nData[6]             9
set_io nData[7]             10

set_io bPhase2Clock         20		# Vic20 1,108,404 Hz clock
set_io bVicClock            21		# Vic20 4,433,616 Hz clock

set_io bReset_n             23      # Reset VIA Active Low
set_io bCS                  24      # Chip Select Active Hi
set_io bCS_n                25      # Chip Select Active Low
set_io bRead                26      # Read = 1 / Write = 0
set_io bIRQ_n               28      # IRQ_n Active Low Open Drain IRQ Signal

set_io nRS[0]               31      # 4 Bit Register Address
set_io nRS[1]               32
set_io nRS[2]               33
set_io nRS[3]               34

set_io nPortA[0]            37       # 8 Bit IO Data Port A
set_io nPortA[1]            38
set_io nPortA[2]            39
set_io nPortA[3]            41
set_io nPortA[4]            42
set_io nPortA[5]            43
set_io nPortA[6]            44
set_io nPortA[7]            45

set_io nPortB[0]            47       # 8 Bit IO Data Port B
set_io nPortB[1]            48
set_io nPortB[2]            55
set_io nPortB[3]            56
set_io nPortB[4]            60
set_io nPortB[5]            61
set_io nPortB[6]            62
set_io nPortB[7]            63
